prv/*
deploy/*
cnf/*
setenv.*
.env
tanzu/cli/*
tanzu/tanzu-framework-linux-amd64-*.tar
tanzu/tanzu-cluster-essentials-linux-amd64-*.tgz
tanzu/tap-gui-blank-catalog.tgz
tanzu/deploy
tanzu/k8s/deploy

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/